$theme-text-font: 'Plus Jakarta Sans', sans-serif;
$theme-background-color: hsl(210, 60%, 98%);
$main-background-color: hsl(0, 0%, 100%);
$light-grayish-blue-2: hsl(205, 33%, 90%);
$dark-grayish-blue: hsl(219, 12%, 42%);
$notification-counter-background-color: hsl(219, 85%, 26%);